# URL of your PocketBase instance.
# For local development, use the default: http://127.0.0.1:8090
# For production use your full url, like https://hantavirus.iagovar.com
VITE_POCKETBASE_URL=http://127.0.0.1:8090